@page "/Bebidas/Edit/{bebidaId:int}"
@rendermode InteractiveServer
@inject BebidasServices bebidasServices
@inject NavigationManager navigation

<PageTitle>Editar bebida</PageTitle>

<EditForm Model="bebidas" OnValidSubmit="Actualizar">
    <DataAnnotationsValidator />
    <div class="container mt-5 pt-5">
        <div class="card shadow-lg">
            <!-- Header -->
            <div class="card-header" style="background-color: #FF9F1C; color: white;">
                <h2 style="font-family: 'Poppins', sans-serif;"><strong>Editar bebida</strong></h2>
            </div>
            <!-- Body -->
            <div class="card-body">
                <!-- Nombre de la bebida -->
                <div class="mb-3">
                    <label class="form-label" for="nombres" style="font-family: 'Poppins', sans-serif;"><strong>Nombre de la bebida</strong></label>
                    <div class="input-group">
                        <span class="input-group-text" style="background-color: #FF9F1C; color: white;">
                            <i class="fa-solid fa-file-signature"></i>
                        </span>
                        <InputText id="nombres" class="form-control" @bind-Value="bebidas.Nombre" style="border: 1px solid gray;"></InputText>
                    </div>
                    <ValidationMessage For="@(() => bebidas.Nombre)"></ValidationMessage>
                </div>

                <!-- Descripción de la bebida -->
                <div class="mb-3">
                    <label class="form-label" for="descripcion" style="font-family: 'Poppins', sans-serif;"><strong>Descripción de la bebida</strong></label>
                    <div class="input-group">
                        <span class="input-group-text" style="background-color: #FF9F1C; color: white;">
                            <i class="fa-solid fa-circle-info"></i>
                        </span>
                        <InputText id="descripcion" class="form-control" @bind-Value="bebidas.Descripcion" style="border: 1px solid gray;"></InputText>
                    </div>
                    <ValidationMessage For="@(() => bebidas.Descripcion)"></ValidationMessage>
                </div>

                <!-- Tipo de bebida -->
                <div class="mb-3">
                    <label class="form-label" for="tipoBebida" style="font-family: 'Poppins', sans-serif;"><strong>Tipo de bebida</strong></label>
                    <div class="input-group">
                        <span class="input-group-text" style="background-color: #FF9F1C; color: white;">
                            <i class="fa-solid fa-layer-group"></i>
                        </span>
                        <InputSelect id="tipoBebida" class="form-control" @bind-Value="bebidas.Tipo" style="border: 1px solid gray;">
                            <option value="">Seleccione un tipo</option>
                            <option value="Alcoholica">Alcoholica</option>
                            <option value="Jugos">Jugos</option>
                            <option value="Gaseosa">Gaseosa</option>
                            <option value="Agua">Agua</option>
                        </InputSelect>
                    </div>
                    <ValidationMessage For="@(() => bebidas.Tipo)"></ValidationMessage>
                </div>

                <!-- Precio de la bebida -->
                <div class="mb-3">
                    <label class="form-label" for="precio" style="font-family: 'Poppins', sans-serif;"><strong>Precio de la bebida</strong></label>
                    <div class="input-group">
                        <span class="input-group-text" style="background-color: #FF9F1C; color: white;">
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                        <InputNumber id="precio" class="form-control" @bind-Value="bebidas.Precio" style="border: 1px solid gray;"></InputNumber>
                    </div>
                    <ValidationMessage For="@(() => bebidas.Precio)"></ValidationMessage>
                </div>

                <!-- Disponibilidad -->
                <div class="mb-3">
                    <label class="form-label" for="disponibilidad" style="font-family: 'Poppins', sans-serif;"><strong>Disponibilidad</strong></label>
                    <div class="input-group">
                        <span class="input-group-text" style="background-color: #FF9F1C; color: white;">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <InputSelect id="disponibilidad" class="form-control" @bind-Value="bebidas.Disponibilidad" style="border: 1px solid gray;">
                            <option value="">Seleccione una opción</option>
                            <option value="Disponible">Disponible</option>
                            <option value="No disponible">No disponible</option>
                        </InputSelect>
                    </div>
                    <ValidationMessage For="@(() => bebidas.Disponibilidad)"></ValidationMessage>
                </div>

                <!-- URL de la imagen de la bebida -->
                <div class="mb-3">
                    <label class="form-label" for="fotoURL" style="font-family: 'Poppins', sans-serif;"><strong>Url de la imagen de la bebida</strong></label>
                    <div class="input-group">
                        <span class="input-group-text" style="background-color: #FF9F1C; color: white;">
                            <i class="fas fa-image"></i>
                        </span>
                        <InputText id="fotoURL" class="form-control" @bind-Value="bebidas.FotoURL" style="border: 1px solid gray;"></InputText>
                    </div>
                    <ValidationMessage For="@(() => bebidas.FotoURL)"></ValidationMessage>
                </div>
            </div>

            <!-- Footer -->
            <div class="card-footer">
                <button type="button" class="btn" style="background-color: #2EC4B6; color: white;" @onclick="Volver">
                    <i class="fa-solid fa-backward"></i> Volver
                </button>
                <button type="submit" class="btn" style="background-color: #FF9F1C; color: white;">
                    <i class="fa-solid fa-share-from-square"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public int bebidaId { get; set; }
    private Bebidas bebidas = new Bebidas();

    protected override async Task OnInitializedAsync()
    {
        bebidas = await bebidasServices.Buscar(bebidaId) ?? new Bebidas();
    }

    private async Task Actualizar()
    {
        if (await bebidasServices.Modificar(bebidas))
        {
            Volver();
        }
    }

    private void Volver()
    {
        navigation.NavigateTo("/Index/Bebidas");
    }
}

