@page "/local/mesa/1"
@inject ComidaServices comidasService

<div class="wrapper">
    <div class="menu-header">
        <div class="header-nav">
            <div class="info">
                <h2>Menu</h2>
                <span>Mesa 1</span>
            </div>
            <button type="button" class="btn btn-success"><i class="bi bi-basket"></i></button>
        </div>
    </div>
    <div class="product-list">
        @foreach (var bebida in comidasFiltradas)
        {
            <div class="product-item">
                <img src="@bebida.FotoURL" alt="@bebida.Nombre">
                <div class="product-info">
                    <h5 class="card-title">@bebida.Nombre</h5>
                    <p class="card-text">@bebida.Descripcion</p>
                    <div>
                        <p class="price"><strong>RD$ @bebida.Precio</strong></p>
                        <button class="btn">Detalles</button>
                    </div>
                </div>
                <button class=" btn add-to-cart"><i class="bi bi-plus"></i></button>
            </div>
        }
    </div>
</div>

<style>
    #NavigationBar {
        display: none;
    }

    .wrapper {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #FEFEFE;
    }

    .menu-header {
        position: fixed;
        width: 100%;
        height: 10vh;
        background-color: rgba(255, 159, 28, 0.3);
        backdrop-filter: blur(20px);
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        padding: 8px 0px;
    }

    .product-list {
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        margin: 8px auto;
        display: flex;
        width: 100%;
        background-color: #CBF3F0;
    }

    .product-item img {
        width: 35%;
        border-radius: 8px;
    }

    .product-item .product-info {
        margin-left: 16px;
        display: flex;
        width: 55%;
        flex-direction: column;
    }

    .product-item .product-info div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .product-item .product-info div button {
        background-color: rgba(255, 191, 105, 0.25);
    }

    .add-to-cart {
        width: 10%;
        height: 100%;
        background-color: #2EC4B6;
    }
</style>

@code {
    public List<Comidas> comidas = new List<Comidas>();
    private string filtro = "";
    private string valorFiltro = "";
    private List<Comidas> comidasFiltradas = new();
    private string tipoSeleccionado = "";
    private string busquedaNombre = "";

    protected override async Task OnInitializedAsync()
    {
        comidas = await comidasService.Listar(c => true);
        AplicarFiltro();
    }


    private void FiltrarPorTipo(ChangeEventArgs e)
    {
        tipoSeleccionado = e.Value?.ToString() ?? "";
        AplicarFiltro();
    }

    private void AplicarFiltro()
    {
        comidasFiltradas = comidas
            .Where(b => (string.IsNullOrEmpty(tipoSeleccionado) || b.Descripcion.Contains(tipoSeleccionado, StringComparison.OrdinalIgnoreCase))
                     && (string.IsNullOrEmpty(busquedaNombre) || b.Nombre.Contains(busquedaNombre, StringComparison.OrdinalIgnoreCase)))
            .ToList();
    }
}
