@page "/local/mesa/1"
@inject ComidaServices comidasService
@inject BebidasServices bebidasServices

<div class="wrapper">
    <div class="menu-header">
        <div class="header-nav">
            <div class="info">
                <h2>Menu</h2>
                <span>Mesa 1</span>
            </div>
            <button type="button" class="btn btn-success"><i class="bi bi-basket"></i></button>
        </div>
    </div>
    <div class="product-list">
        @foreach (var comida in comidasFiltradas)
        {
            <div class="product-item">
                <img src="@comida.FotoURL" alt="@comida.Nombre">
                <div class="product-info">
                    <h5 class="card-title">@comida.Nombre</h5>
                    <p class="card-text">@comida.Descripcion</p>
                    <div>
                        <p class="price"><strong>RD$ @comida.Precio</strong></p>
                        <button class="btn" @onclick=" =>VerDetalles(comida.ItemId)">Detalles</button>
                    </div>
                </div>
                <button class=" btn add-to-cart"><i class="bi bi-plus"></i></button>
            </div>
        }
        @foreach (var bebida in bebidasFiltradas)
        {
            <div class="product-item">
                <img src="@bebida.FotoURL" alt="@bebida.Nombre">
                <div class="product-info">
                    <h5 class="card-title">@bebida.Nombre</h5>
                    <p class="card-text">@bebida.Descripcion</p>
                    <div>
                        <p class="price"><strong>RD$ @bebida.Precio</strong></p>
                        <button class="btn" @onclick=" => VerDetalles(bebida.ItemId)">Detalles</button>
                    </div>
                </div>
                <button class="btn add-to-cart"><i class="bi bi-plus"></i></button>
            </div>
        }
    </div>
</div>

<style>
    body {
        width: 100%;
        height: 100vh;
    }
    #NavigationBar {
        display: none;
    }

    .wrapper {
        position: absolute;
        width: 100%;
        background-color: #FEFEFE;
    }

    .menu-header {
        width: 100%;
        height: fit-content;
        background-color: rgba(255, 159, 28, 0.3);
        backdrop-filter: blur(20px);
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        padding: 8px 0px;
    }

    .product-list {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        margin: 8px auto;
        display: flex;
        width: 100%;
        background-color: #CBF3F0;
        box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.1);
    }

    .product-item img {
        width: 35%;
        border-radius: 8px 0px 0px 8px;
    }

    .product-item .product-info {
        margin-left: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        flex-direction: column;
    }

    .product-item .product-info div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .product-item .product-info div button {
        background-color: rgba(255, 191, 105, 0.25);
    }

    .add-to-cart {
        width: 10%;
        background-color: #2EC4B6;
    }
</style>

@code {
    public List<Item> comidas = new List<Item>();
    private List<Item> comidasFiltradas = new();
    public List<Item> bebidas = new List<Item>();
    private List<Item> bebidasFiltradas = new();
    private string filtro = "";
    private string valorFiltro = "";
    private string tipoSeleccionado = "";
    private string busquedaNombre = "";
    private string tipoBebidaSeleccionado = "";
    private string busquedaBebidabyNombre = "";

    protected override async Task OnInitializedAsync()
    {
        comidas = await comidasService.Listar(c => true);
        bebidas = await bebidasServices.Listar(c => true);
        AplicarFiltro();
    }

    private void VerDetalles(int itemId)
    {
        NavigationManager.NavigateTo("$itemdetails/{itemId}");
    }
}
